<div id="posts">
<h1>Posts</h1>
  <% @posts.each do |post| %>
    <div class="post">
      <%= render post %>
      <p class="post-title">
        <%= link_to post.title, post %>
      </p>
      <% if post.image.attached? %>
        <div class="post-image">
          <%= link_to (image_tag url_for(post.image)), post %>
        </div>
      <% end %>
    </div>
  <% end %>
<%= link_to "New post", new_post_path, class: "new-post-link" %>
<%= paginate @posts %>
</div>
