<p style="color: green"><%= notice %></p>

<div class="post">
  <h2 class="post-title"><%= @post.title %></h2>
  <p class="post-author-show">By <%= link_to @post.user.first_name + " " + @post.user.last_name, user_path(@post.user) %></p>
  <p><%= @post.created_at.strftime("%B %d, %Y") %></p>

    <% if @post.image.attached? %>
        <div class="post-image">
          <%= image_tag @post.image %>
        </div>
    <% end %>

  <p class="post-body">
    <% if user_signed_in? %>
      <%= @post.body %>
    <% else %>
      <%= truncate_words(@post.body, 50) %>
      <p>You need to <%= link_to 'sign in', new_user_session_path %> or <%= link_to 'sign up', new_user_registration_path %> to read the full post.</p>
    <% end %>
  </p>

  <% if @post.category %>
  <p class="post-category"><strong>Category:</strong> <%= @post.category.name %></p>
  <% else %>
  <p class="post-category"><strong>Category:</strong> No Category Assigned</p>
  <% end %>
</div>

<div class="post-actions">
  <%= link_to "Edit this post", edit_post_path(@post), class: "edit-post-link" %> |
  <%= link_to "Back to posts", posts_path, class: "back-to-posts-link" %>

  <%= button_to "Destroy this post", @post, method: :delete, class: "destroy-post-button" %>
</div>
