<p style="color: green"><%= notice %></p>

<div class="post">
  <h2 class="post-title"><%= @post.title %></h2>
  <p class="post-body"><%= @post.body %></p>
    <% if @post.image.attached? %>
        <div class="post-image">
          <%= image_tag @post.image %>
        </div>
    <% end %>
  <p class="post-category"><strong>Category:</strong> <%= @post.category.name %></p>
</div>

<div class="post-actions">
  <%= link_to "Edit this post", edit_post_path(@post), class: "edit-post-link" %> |
  <%= link_to "Back to posts", posts_path, class: "back-to-posts-link" %>

  <%= button_to "Destroy this post", @post, method: :delete, class: "destroy-post-button" %>
</div>
