<%= form_with url: contact_forms_path, scope: :contact_form, local: true do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, required: true %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message, required: true %>
  </div>

  <div class="actions">
    <%= form.submit "Send" %>
  </div>
<% end %>
