<%= simple_form_for(@category, html: { class: 'category-form' }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="input-field">
      <%= f.input :name, input_html: { class: 'input-name' } %>
    </div>
    <div class="input-field">
      <%= f.input :description, input_html: { class: 'input-description' } %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'submit-button' %>
  </div>
<% end %>
