<p style="color: green" class="notice"><%= notice %></p>

<div id="categories">
  <% @categories.each do |category| %>
    <%= link_to category_path(category), class: "category-link" do %>
      <div class="category">
        <%= render category %>
        <p>Show this category</p>
      </div>
    <% end %>
  <% end %>
</div>
<div class="paginate-button">
  <%= link_to "New category", new_category_path, class: "new-category-link" %>
  <%= paginate @categories %>
</div>
