<p class="notice" style="color: green"><%= notice %></p>

<div class="category-show">
  <%= render @category %>
</div>

<% @category.posts.each do |post| %>
  <div class="post-show">
    <h3 class="post-title"><%= link_to post.title, post_path(post) %></h3>
    <p class="post-body"><%= truncate_words(post.body, 15) %></p>
  </div>
<% end %>

<div class="category-actions">
<%= paginate @posts %>
  <%= link_to "Edit this category", edit_category_path(@category), class: "edit-category-link" %> |
  <%= link_to "Back to categories", categories_path, class: "back-to-categories-link" %>

  <%= button_to "Destroy this category", @category, method: :delete, class: "destroy-category-button" %>
</div>
